$navBlue: #1E2859;
$white: #fff;
$black: #000;
$grey: #9C9C9C;
$skyBlue: #0549AE;
$body-bg : #f7f7f7;

@media (max-width: 500px) {
  .headerSection {
    .Brands {
      .headerBrand {
        width: 50%;
        a {
          h2 {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 628px) {
  .headerSection {
    .headerContent {
      a {
        display: none;
      }
      .resNoneLang {
        display: none;
      }
    }
  }

  .HomeNewsSection {
    .HomeNewsText {
      h2 {
        line-height: 86% !important;
        font-size: 18px !important;
      }

      .allNews {
        line-height: 86% !important;
        font-size: 18px !important;
      }
    }
    .HomeNewsContent {
      div {
        img {
          width: 90% !important;
        }

        .moreNewsContent {
          display: block;
        }

        .moreNews {
          margin-right: 80px;
          text-align: center;
        }

        span {
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }

}

@media (max-width: 615px) {
  .heroSection {
    background-position: center !important;
    transition: .5s all ease-in-out;
  }
}

@media (max-width: 875px) {
  .nav {
    .navList {
      .langList {
        display: inline-block;
        position: relative;
        bottom: 5px;
        left: 5px;

        .wrap{
          position: absolute;
          right: -15px;
          top: 30px;
        }
      }
      position: fixed;
      width: 70%;
      height: 100vh;
      justify-content: space-evenly;
      top: 0;
      right: 0;
      background: $navBlue;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.3s ease-in;
      z-index: 10;
      a {
        color: $white;
        margin-right: 0;
        position: relative;
        top: 30px;
      }
    }

    .navActive {
      transform: translateX(0);
    }
    
    .navPhoneNone {
      display: inline-block;
    }

    .navPhoneNone2 {
      display: none;
    }

    .navToggle {
      z-index: 10;
      display: inline-block;
      margin-top: 15px;
    }

    .toggle {
      .line1 {
        transform: rotate(-45deg) translate(-9px, 5px);
      }
      .line2 {
        opacity: 0;
      }
      .line3 {
        transform: rotate(45deg) translate(-8px, -5px);
      }
    }
  }
}

@media (max-width: 767px) {
  // HOME NEWS START
  .HomeNewsSection {
    .HomeNewsText {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      h2 {
        margin-right: 20px;
        font-weight: 600;
        font-size: 22px;
        line-height: 0;
        color: $navBlue;
      }

      .allNews {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 0;
        color: #3f3f3f;

        svg {
          margin-left: 6px;
        }
      }
    }

    .HomeNewsContent {
      text-align: center;
      div {
        margin-bottom: 40px;
        .moreNewsContent {
          width: 370px;
          text-align: center;
          margin: 0 auto;
        }
        img {
          width: 370px;
          height: auto;
          border-radius: 3px;
          object-fit: cover;
          margin-bottom: 10px;
        }

        h2 {
          width: 280px;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          color: $navBlue;
          text-align: center;
          margin: 0 auto;
          display: block; 
          margin-bottom: 13px;
        }

        .moreNews {
          font-weight: 500;
          font-size: 14px;
          line-height: 10px;
          color: $grey;
        }

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 10px;
          color: $grey;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .heroSection {
    background-position: left;
    transition: .5s all ease-in-out;
  }
}

@media (max-width: 1205px) {
  .headerSection {
    .Brands {
      .headerBrand {
        position: relative;
        top: 0;
        right: 15px;
      }
    }
  }
}

@media (max-width: 1199px) {
  // HOME NEWS START
  .HomeNewsSection {
    .HomeNewsText {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      h2 {
        margin-right: 20px;
        font-weight: 600;
        font-size: 22px;
        line-height: 0;
        color: $navBlue;
      }

      .allNews {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 0;
        color: #3f3f3f;

        svg {
          margin-left: 6px;
        }
      }
    }

    .HomeNewsContent {
      text-align: center;
      div {
        margin-bottom: 40px;
        .moreNewsContent {
          width: 370px;
          text-align: center;
          margin: 0 auto;
        }
        img {
          width: 370px;
          height: auto;
          border-radius: 3px;
          object-fit: cover;
          margin-bottom: 10px;
        }

        h2 {
          width: 280px;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          color: $navBlue;
          text-align: center;
          margin: 0 auto;
          display: block; 
          margin-bottom: 13px;
        }

        .moreNews {
          font-weight: 500;
          font-size: 14px;
          line-height: 10px;
          color: $grey;
        }

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 10px;
          color: $grey;
        }
      }
    }
  }
}
